*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body{
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.header{
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #212343;
}

.header img{
    margin: 15px;
}

.container_banner{
    width: 100%;
    padding: 0 2%;
    height: 395px;
    background-image: url('../assets/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container_banner > .center{
    height: 100%;
}

.form{
    padding: 20px;
    width: 400px;
    height: calc(100% + 30px);
    position: relative;
    top: -15px;
    border: 8px solid rgba(120, 120, 120, 0.5);
    background-clip: padding-box;
    background-color: white;
    float: right;
}

.form h2{
    text-align: center;
    font-weight: 300;
    color: #999999;
    font-size: 20px;
}

.input_container{
    margin-top: 20px;
}

.input_container span,.form p, .footer p{
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 15px;
    font-weight: bold;
}

.input_container input[type="text"]{
    margin-top: 5px;
    width: 344px;
    height: 45px;
    border: 1px solid #CCCCCC;
}

.form .input_submit_container{
    text-align: center;
}

.form p{
    margin: 10px 0;
}

.input_submit_container input[type=submit]{
    color: white;
    font-size: 25px;
    width: 250px;
    height: 38px;
    background-color: #363A6D;
    border: 0;
    border-bottom: 5px solid #4A5097;
    cursor: pointer;
}

.input_submit_container input[type=submit]:hover{
    background-color: #323665;
}

.container_list{
    padding: 30px;
    margin-top: 40px;
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container_list ul{
    list-style-position: inside;
}

.container_list ul li{
    margin-top: 15px;
    color: white;
}

.container_conteudo{
    padding:30px 2%;
    background-color: #DDDDDD;
    text-align: center;
    height: 190px;
}

.container_conteudo h2{
    font-weight: normal;
}

.container_conteudo p{
    width: 100%;
    max-width: 650px;
    display: inline-block;
    text-align: justify;
    margin: 20px 0;
}

.arrow{
    position: relative;
    bottom: calc(100% + 50%);
    left: calc(50% - 20px );
    width: 50px;
    height: 50px;
    background-image: url("../assets/arrow.png");
    background-size: 100%;
}

.section_1{
    padding: 30px 2%;
}

.section_1 h3{
    text-align: center;
    color: #462663;
    font-weight: normal;
}


.container_section{
    text-align: center;
}

.container_single{
    float: left;
    width: 33.333%;
    padding: 20px;
}

.container_single p{    
    font-size: 15px;
    text-align: justify;
    padding: 15px 25px;
}

.container_single img{
    width: 60px;
    height: 60px;
}

.clear{
    clear: both;
}

.footer{
    padding: 30px 2%;
    border-top: 4px solid #999999;
    display: inline-block;
    width: 100%;
}

.footer p{
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 1120px) {
    .header{
        text-align: center;
    }

    .container_banner{
        padding: 30px 2%;
        height: auto;
        text-align: center;
    }

    .form{
        max-width: 400px;
        width: 90%;
        display: inline-block;
        top: 0;
        float: none;
        margin-top: 30px;
    }

    .container_list{
        max-width: 619px;
        width: 100%;
        display: inline-block;
        float: none;
    }

    .container_single{
        display: inline-block;
        float: none;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }
}

@media screen and (max-width: 605px) {
    .arrow{
        bottom: calc(100% + 65%);
    }
}